
.container-formPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
    background-image: url('/wallpaperRobot3.jpg');
    background-position: center;
    background-size: cover;
}

.container-Tform {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #fff;
    color: #f60;
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 700px;
    padding: 3rem;
    background-image: url('/wallpaperSenha.jpg');
    background-position: center;
    background-size: cover;
}

.container-inputs {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-inputs label {
    max-width: 100px;
}

.container-inputs input {
    width: 12rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(202, 202, 202);
    color: #000000;
}

.container-inputs input::placeholder{
    font-size: 1rem;
    color: rgb(126, 126, 126);
}

.p-forgetP {
    cursor: pointer;
    color: #00aaff;
    transition: color 0.5s ease;
    text-decoration: none;
}

.p-forgetP:hover {
    color: #003cff;
}

.button-submit {
    width: 12rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: "Jersey", sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
    box-shadow: #ff0000 5px 5px 15px;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease, scale 0.5s ease;
}

.button-submit:hover {
    background-color: #f60;
    color: #000;
    scale: 1.1;
}

.Red-form {
    font-size: 1.2rem;
    display: flex;
    gap: 0.5rem;
}

.Red-form span {
    cursor: pointer;
    color: #00aaff;
    transition: color 0.5s ease, scale 0.5s ease;
}

.Red-form span:hover {
    color: #003cff;
    scale: 1.1;
}