.container-forgetPass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-forgetPass input {
    width: 12rem;
    height: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}

.container-forgetPass button {
    width: 12rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: #f60;
    color: #000;
    transition: color 0.5s ease, scale 0.5s ease, background-color 0.5s ease;
}

.container-forgetPass button:hover {
    scale: 1.1;
    background-color: #000;
    color: #fff;
}

.container-msenha {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(183, 183, 183);

}

#labelOtp {
    max-width: 200px;
}

.container-sInput {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
}

#b-senha {
    border: 2px solid red;
}